@model LopesCorretora.SGCPS.ViewsModels.CadastrarPessoaFisicaVM
@{
    ViewData["Title"] = "Cadastrar Pessoa Fisica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1> Realizar Cadastro </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h2> Pessoa Física </h2>
        </div>
    </div>
    @Html.Partial("_Errors")
    @using (Html.BeginForm("Cadastrar", "PessoaFisica", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    @Html.HiddenFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Id)
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Titular)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Titular, new { @class = "form-control", type = "text", id = "Titular", placeholder = "Titular.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Titular, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.CPF)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.CPF, new { @class = "form-control", type = "text", id = "CPF", placeholder = "CPF.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.CPF, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.RG)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.RG, new { @class = "form-control", type = "text", id = "RG", placeholder = "RG.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.RG, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.DataDeNascimento)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.DataDeNascimento, new { @class = "form-control", type = "text", id = "DataDeNascimento", placeholder = "Data De Nascimento.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.DataDeNascimento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Sexo)
                    @Html.DropDownListFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Sexo, new SelectList
                         (new[] { new { value = true, text = "Masculino" }, new { value = false, text = "Feminino" } }, "value", "text"),
                         "Selecione", new { @class = "form-control", id = "Sexo", size = "1", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Sexo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.EstadoCivil)
                    @Html.DropDownListFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.EstadoCivil, new SelectList
                         (new[] { new { value = "casado", text = "Casado" }, new { value = "solteiro", text = "Solteiro" } }, "value", "text"),
                         "Selecione", new { @class = "form-control", id = "EstadoCivil", size = "1", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.EstadoCivil, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-10 col-sm-10 col-md-10">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Email)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Email, new { @class = "form-control", type = "text", id = "Email", placeholder = "E-mail.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.LisContatoPessoaFisicaMOD[0].Contato, "Telefone")
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.LisContatoPessoaFisicaMOD[0].Contato, new { @class = "form-control", type = "text", id = "Contato1", value = "", placeholder = "Telefone.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.LisContatoPessoaFisicaMOD[0].Contato, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.LisContatoPessoaFisicaMOD[1].Contato, "Celular")
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.LisContatoPessoaFisicaMOD[1].Contato, new { @class = "form-control", type = "text", id = "Contato2", placeholder = "Celular.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.LisContatoPessoaFisicaMOD[1].Contato, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="col-xs-3 col-sm-3 col-md-5">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.CEP)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.CEP, new { onblur = "GetCepPf()", @class = "form-control", type = "text", id = "CEP", placeholder = "CEP.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.CEP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-1 col-sm-1 col-md-1">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.UF)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.UF, new { @class = "form-control", type = "text", id = "UF", placeholder = "UF.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.UF, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Rua)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Rua, new { @class = "form-control", type = "text", id = "Rua", placeholder = "Rua.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Rua, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Numero)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Numero, new { @class = "form-control", type = "text", id = "Numero", Value = "", placeholder = "Numero.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Numero, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Complemento)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Complemento, new { @class = "form-control", type = "text", id = "Complemento", placeholder = "Complemento.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Complemento, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Bairro)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Bairro, new { @class = "form-control", type = "text", id = "Bairro", placeholder = "Bairro.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Bairro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Cidade)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Cidade, new { @class = "form-control", type = "text", id = "Cidade", placeholder = "Cidade.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Endereco.Cidade, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.MaeDoTitular)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.MaeDoTitular, new { @class = "form-control", type = "text", id = "MaeDoTitular", placeholder = "Mae Do Titular.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.MaeDoTitular, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.ResponsavelGeral)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.ResponsavelGeral, new { @class = "form-control", type = "text", id = "ResponsavelGeral", placeholder = "Responsavel Geral.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.ResponsavelGeral, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.NumeroDoSUS)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.NumeroDoSUS, new { @class = "form-control", type = "text", id = "NumeroDoSUS", placeholder = "Numero DoS US.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.NumeroDoSUS, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Observacoes)
                    @Html.TextAreaFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Observacoes, new { @class = "form-control", type = "text", id = "Observacoes", placeholder = "Observacoes.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.Observacoes, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="input-group">
                    <input name="anexo" type="file" class="filestyle" data-buttonText="Anexar Arquivo">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3> Dados do Plano </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.PlanoPessoaFisica.PlanoId, "Plano")
                    @Html.DropDownListFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.PlanoPessoaFisica.PlanoId, new SelectList((System.Collections.IEnumerable)Model.LisPlanosMOD, "Id", "Plano"), "Selecione", new { @class = "form-control", id = "Plano", size = "1", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.PlanoPessoaFisica.PlanoId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-12">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.PlanoPessoaFisica.NumeroContrato)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.PlanoPessoaFisica.NumeroContrato, new { @class = "form-control", type = "text", id = "NumeroContrato", placeholder = "Numero Contrato.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.PlanoPessoaFisica.NumeroContrato, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.StatusId, "Status")
                    @Html.DropDownListFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.StatusId, new SelectList((System.Collections.IEnumerable)Model.LisStatusMOD, "Id", "Status"), "Selecione", new { @class = "form-control", id = "Status", size = "1", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.StatusId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.PlanoPessoaFisica.ValorDeEntrada)
                    @Html.TextBoxFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.PlanoPessoaFisica.ValorDeEntrada, new { @class = "form-control", type = "text", id = "ValorDeEntrada", placeholder = "Valor De Entrada.", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.PlanoPessoaFisica.ValorDeEntrada, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="form-group">
                    @Html.LabelFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.PlanoPessoaFisica.NumeroDeParcelas)
                    @Html.DropDownListFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.PlanoPessoaFisica.NumeroDeParcelas,
                    new SelectList(new[] { new { value = "1", text = "1x" }, new { value = "2", text = "2x" }, new { value = "3", text = "3x" },
                    new { value = "4", text = "4x" }, new { value = "5", text = "5x" }, new { value = "6", text = "6x" },
                    new { value = "7", text = "7x" }, new { value = "8", text = "8x" }, new { value = "9", text = "9x" },
                    new { value = "10", text = "10x" }, new { value = "11", text = "11x" }, new { value = "12", text = "12x" },
                    }, "value", "text"), "Selecione", new { @class = "form-control", id = "NumeroDeParcelas", size = "1", required = "required" })
                    @Html.ValidationMessageFor(cadastrarPessoaFisicaVM => cadastrarPessoaFisicaVM.ObjPessoaFisicaMOD.PlanoPessoaFisica.NumeroDeParcelas, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3> Dependentes </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <label for="QuantidadeDeDependentes">Quantidade de Dependentes</label>
                <input placeholder="Quantidade de Dependentes" class="form-control" type="text" name="QuantidadeDeDependentes" id="QuantidadeDeDependentes" value="" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <button style="margin-top: 15%" onclick="AdicionarDependentes()" id="adicionarDependente" class="btn btn-default" type="button"> Adicionar dependente </button>
            </div>
        </div>
        <div id="form-dependente-1">
            <input type="hidden" id="hiddenQtdDependentes" value="0" />
        </div>

        <div id="actions" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <input  type="submit" id="submitCadastrarPessoaFisica" class="btn btn-default pull-right" value="Salvar" />
            </div>
        </div>
    }
</div>
